/* Общие стили для всего документа */
body {
    font-family: cursive;
    background-color: gray;
}

/* Стили для класса .author */
.author {
    text-decoration: underline; /* Подчеркивание текста */
    text-align: center; /* Выравнивание по центру */
    margin: auto; /* Центрирование элемента по горизонтали */
    color: red; /* Цвет текста - красный */
    text-shadow: 0 0 3px grey; /* Тень текста с определенными параметрами */
    font-size: 18px; /* Размер шрифта */
}

/* Стили для класса .name */
.name {
    text-decoration: underline; /* Подчеркивание текста */
    text-align: center; /* Выравнивание по центру */
    margin: auto; /* Центрирование элемента по горизонтали */
    color: red; /* Цвет текста - красный */
    text-shadow: 0 0 2px grey; /* Тень текста с определенными параметрами */
    font-size: 19px; /* Размер шрифта */
}

/* Стили для класса .strofa_1 */
.strofa_1 {
    font-size: 17px; /* Размер шрифта */
    font-weight: 400; /* Начертание шрифта */
    color: blue; /* Цвет текста - синий */
    -webkit-text-stroke: 1px black; /* Обводка текста с определенными параметрами (для браузеров Webkit) */
    text-align: center; /* Выравнивание по центру */
    margin: auto; /* Центрирование элемента по горизонтали */
}

/* Стили для класса .strofa_2 */
.strofa_2 {
    font-size: 17px; /* Размер шрифта */
    text-decoration: overline; /* Перечеркивание текста сверху */
    color: red; /* Цвет текста - красный */
    text-align: center; /* Выравнивание по центру */
    text-shadow: 0 2px 10px black; /* Тень текста с определенными параметрами */
}

/* Стили для класса .strofa_3 */
.strofa_3 {
    font-size: 17px; /* Размер шрифта */
    text-transform: lowercase; /* Преобразование текста в нижний регистр */
    color: black; /* Цвет текста - черный */
    text-align: center; /* Выравнивание по центру */
    text-shadow: 0 4px 30px black; /* Тень текста с определенными параметрами */
    -webkit-text-stroke: 1px; /* Обводка текста с определенными параметрами (для браузеров Webkit) */
    font-style: normal; /* Стиль шрифта - обычный */
}

/* Стили для класса .strofa_4 */
.strofa_4 {
    text-transform: capitalize; /* Преобразование первой буквы текста в заглавную */
    font-weight: bold; /* Начертание шрифта - жирное */
    text-align: center; /* Выравнивание по центру */
    text-shadow: 0 0 15px blueviolet; /* Тень текста с определенными параметрами */
    font-size: 17px; /* Размер шрифта */
    margin: auto; /* Центрирование элемента по горизонтали */
}

/* Стили для класса .strofa_5 */
.strofa_5 {
    font-size: 17px; /* Размер шрифта */
    font-weight: 700; /* Начертание шрифта - жирное */
    text-align: center; /* Выравнивание по центру */
    text-transform: none; /* Отмена преобразования текста */
    color: chartreuse; /* Цвет текста - зеленый */
    text-shadow: 0 0 15px black; /* Тень текста с определенными параметрами */
    margin: auto; /* Центрирование элемента по горизонтали */
}

/* Стили для таблицы */
table {
    border-collapse: collapse; /* Схлопывание границ таблицы */
    display: flex; /* Отображение как flex-контейнер */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    justify-content: center; /* Выравнивание элементов по горизонтали по центру */
    margin: 15px; /* Отступы от края */
}

/* Стили для ячейки таблицы */
td {
    border: 2px solid black; /* Граница ячейки */
    padding: 15px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */
    border-radius: 7px; /* Скругление углов */
}

/* Стили для класса .day */
.day {
    background-color: gold; /* Фон - золотой цвет */
    font-weight: bolder; /* Начертание шрифта - жирное */
}

/* Стили для класса .row1 */
.row1 {
    font-style: italic; /* Курсивное начертание текста */
    background-color: lightblue; /* Фон - светло-голубой цвет */
    font-weight: bolder; /* Начертание шрифта - жирное */
}

/* Стили для класса .row2 */
.row2 {
    background-color: skyblue; /* Фон - небесно-голубой цвет */
}