*,
*:before,
*:after {
    box-sizing: border-box;

}

body,
html {
    margin: 0;
    font-size: 15px;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0%;
}

.p {
    margin: 0 0 5px;
}


.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container__news {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 3;
}

.header__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__block {
    width: 20px;
}

.header__logo {
    display: inline-block;
}

.header__logo img {
    height: 75px;
}

.nav {
    display: flex;
}

.nav__link {
    margin-right: 35px;

    color: beige;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;

}

.nav__link:after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover:after {
    opacity: 1
}

.nav__link.active:after {
    opacity: 1;
}

.header__lng {
    display: flex;
    justify-content: flex-end;
}

.header__lng-link {
    margin-right: 8px;
    font-weight: 600;
    color: rgb(195, 196, 198);
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;

}

.header__lng-link:last-child {
    margin-right: 0px;
}

.header__lng-link:hover {
    color: red;
}

.container {
    margin-bottom: 25px;
}

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    opacity: .2;
    content: "";
}

.intro__content {
    height: 720px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__title {
    margin-bottom: 30px;
    max-width: 790px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 130%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.btn {
    height: 50px;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background-color: red;
    cursor: pointer;
    border: 0;
    position: relative;

}

.btn:hover {
    background-color: rgb(82, 49, 37);
}

.container__btn {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.section {
    margin-top: 60px;
    margin-bottom: 50px;
}

.section__news {
    height: 650px;

}


.section .process {
    padding-top: 50px;
}


.info {
    transform: translateY(-50%);
}

.info__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 40px 40px 30px;
}

.info__img {
    margin-bottom: 20px;
}

.info__img img {
    height: 30px;
}

.info__title {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;
}

.info_text {
    font-size: 18px;
    color: aqua;

}

.block__title {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 30px;
    letter-spacing: 0.15em;
    display: flex;
    justify-content: center;
}

.block__title.text-white {
    color: #fff;
}

.block_link {
    margin-bottom: 60px;
    display: inline-block;
    letter-spacing: 0.15em;
    color: black;
    text-transform: uppercase;

}

.block__link:hover {
    text-decoration: none;
}

.wrapper {
    display: flex;

}

.block {
    width: 33.33%;
    padding: 0 6px;
}

.text-upper {
    text-transform: uppercase;
}




.services__item {

    text-decoration: none;
}

.services__item:hover .services__content-item {
    opacity: 1;
}

.services__item:hover .services__content:after {
    opacity: .7;
}

.services__content {
    height: 500px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.services__content:after {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transition: opacity .3s ease;
}

.services__content-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity .2s ease;
}

.services__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services__title {
    font-size: 20px;
    font-weight: 600px;
    letter-spacing: 0.23em;
    color: black;
}

.services__text {
    max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.23em;
    position: absolute;
    left: 30px;
    bottom: 25px;
}



.about {
    padding: 150px 0;
    background-color: black;
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__block {
    max-width: 505px;

}

.about__text {
    margin: 35px 0 40px;
    font-weight: 600;
    color: #b7b7b7;
    letter-spacing: 0.23em;

}

.about__link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.about__link:hover {
    text-decoration: none;
}

.about__img {
    height: 340px;
}

.process__title {
    margin-bottom: 50px;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.process_subtitle {
    margin-bottom: 70px;
    font-size: 35px;
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;

}

.process__item {
    padding: 30px 30px 15px;
    background: #FFFFFF;
    min-height: 150px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    height: 100%;
}



.contacts {
    padding: 50px 0;
    background-color: #171617;
    display: flex;
    justify-content: center;
}

.title__reg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style__title__reg {
    color: white;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
}

.contacts .block__title {
    margin-bottom: 15px;
}



.form__row {
    margin: 0 -20px;
    display: flex;
}

.form__group {
    margin-bottom: 30px;
    padding: 0 100px;
    flex: 1;
    position: relative;
}

.input {
    width: 100%;
    padding: 9px 0;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    background-color: transparent;

}

.input:focus+.label {
    transform: translateY(-15px);
    font-size: 12px;
}

.input:not(:placeholder-shown)+.label {
    transform: translateY(-15px);
    font-size: 12px;
}

.label {
    letter-spacing: 0.15em;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 100px;
    pointer-events: none;
    transition: all .2s ease;
}

.textarea {
    min-height: 130px;
    width: 100%;
    padding: 9px 0;
    resize: vertical;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.textarea:focus+.label {
    transform: translateY(-15px);
    font-size: 12px;
}

.textarea:not(:placeholder-shown)+.label {
    transform: translateY(-15px);
    font-size: 12px;
}

.footer_wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.copyright {
    letter-spacing: 0.15em;
}

.footer__soc {
    display: flex;
    margin-left: 25px;
}

.footer__soc-link {
    margin-right: 20px;
    text-decoration: none;
}

.footer__soc-link:last-child {
    margin-right: 0;
}

.footer__soc img {
    height: 25px;
}

.nav__link {
    list-style-type: none;
}

.link__position {
    display: flex;
    justify-content: center;
    align-items: center;
}